@CHARSET "ISO-8859-1";
body{
	background-image: url('../gpx/texture.png');
	color: #333333;
	font-family: Century Gothic, sans-serif;
}

#menu{
	background-color: orange;
	height: 40px;
	border-bottom: 1px solid black;
	-webkit-box-shadow: #000000 3px 3px 3px;
	-moz-box-shadow: #000000 3px 3px 3px;
	box-shadow: #000000 3px 3px 3px;
	padding:20px;
	display: block;
}


#logo {
	font-weight: bold;
	font-size: 36px;
	float: left;
}

#menu  a {
	display: block;
	padding: 11px;
	margin-left:30px;
	float: left;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-color: white;
}

#menu a:VISITED {
	color:white;
}

#menu a:AFTER {
	color: white;
}

#menu a:HOVER {
	color: white;
}

#menu a:LINK {
	color: white;
}

.panel {
	width: 500px;
	padding: 40px;
	-webkit-border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	border:1px solid #AAAAAA;
	background-color:#f6f0e8;
	-webkit-box-shadow: #000000 3px 3px 3px;
	-moz-box-shadow: #000000 3px 3px 3px;
	box-shadow: #000000 3px 3px 3px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 40px;
	display:none;
}

#main h1 {
	font-weight:bold;
	font-size:24px;
	margin-bottom: 20px;
}


input:not([type="checkbox"]){
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 10px 5px 10px 32px;    
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}